<%# @comment.errors.full_messages.join(", ") %>
<h1>Edit a comment</h1>

<%= form_for [@post, @comment] do |f| %>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit %>
  </div>

<% end %>
