


<!-- posts gallery -->

<div id="posts" class="container text-center">
  <div class="row">
    <%  @posts.each do |p|%>
    <div class="col-md-4 col-sm-6 col-xm-12">
      <div class="bw" >
        <a href="<%= post_path(p) %>"><%= image_tag p.image.url(:thumb) %></a>
        <div class='post-title'>
          <%= link_to p.title, post_path(p) %>
        </div>
    </div>
    </div>

    <% end %>
  </div>
  <%= paginate @posts %>
</div>
