

<div id="<%= dom_id(category)%>">
  <div class="category-title">
    <%= category.title  %>
  </div>
  <div class="edit-category">
    <%= link_to "Edit", edit_category_path(category), remote: true %>
  </div>
  <%= link_to fa_icon("trash-o"),
  category_path(category),
  method: :delete,
  remote: true,
  data: {confirm: "Are you sure you want to delete this category?"},
  class: "btn btn-warning" %>
  <hr>
</div>
