$('.categories').append("<div id='<%= dom_id(@category)%>' class='well'><%= j render 'category', category: @category %></div>");


<% @category= Category.new %>
$("#category-form").html("<%= j render 'form' %>");
