
<div class="categories">
  <% @categories.each do |category| %>
  <div id="<%= dom_id(category)%>" class="well">
  <%= render 'category', category: category %>
  </div>
  <% end %>
</div>


<h3>Add new category</h3>
<%= @category.errors.full_messages.join(", ") %>
<div class="container" id="category-form">
  <%= render 'form' %>
</div>
